<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Taco cloud</title>
<link rel="stylesheet" th:ref="@{/style.css}" />
</head>
<body>

	<form method="post" th:action="@{/orders}" th:object="${order}">
		<h1>Order yout tace creatations</h1>
		<div th:if="${#fields.hasErrors()}">
			<span class="validationError">Please correct the problems
				below and resubmit</span>
		</div>
		<h3>Deliver my tacoo masterpices to...</h3>
		<label for="name">Name</label>
		<input type="text" th:field="*{name}" />
		<br />
		
		<!-- @formatter:off -->
		<label for="street">Street address: </label>
		<input type="text" th:field="*{street}"/>
		<br/>
		<label for="city">City: </label>
		<input type="text" th:field="*{city}"/>
		<br/>
		<label for="state">State: </label>
		<input type="text" th:field="*{state}"/>
		<br/>
		<label for="zip">Zip code: </label>
		<input type="text" th:field="*{zip}"/>
		<br/>

		<h3>Here's how I'll pay...</h3>
		<label for="ccNumber">Credit Card #: </label>
		<input type="text" th:field="*{ccNumber}"/>
		<br/>
		<label for="ccExpiration">Expiration: </label>
		<input type="text" th:field="*{ccExpiration}"/>
		<br/>
		<label for="ccCVV">CVV: </label>
		<input type="text" th:field="*{ccCVV}"/>
		<br/>
		<input type="submit" value="Submit order"/>
		<!-- @formatter:on -->
	</form>

</body>
</html>